body {
    width: 100%;
    max-width: 640px;
    margin: auto;
    color: #333;
    text-align: justify;

    --grey1: hsl(240, 2.3%, 83.1%);
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-decoration: underline;
}

pre {
    background-color: var(--grey1);
    padding: 10px;
    border-radius: 3px;
}