body {
    width: 100%;
    max-width: 640px;
    margin: auto;
    color: #333;
    text-align: justify;
    font-family: serif;

    --grey1: hsl(240, 2.3%, 83.1%);
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-decoration: underline;
}

pre {
    overflow-x: auto;
    background-color: var(--grey1);
    border-radius: 3px;
}

pre code {
    display: inline-block;
    padding: 10px;
}

code {
    background-color: var(--grey1);
    border-radius: 3px;
    padding: 1px 5px;
}

h1 code,
h2 code,
h3 code {
    background: none;
    padding: 0;
}